*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body{
  background: #018181;
}

h1{
  text-align: center;
  margin: 30px;
  color: white;
}

.container{
  width: 800px;
  height: 500px;
  border: 2px solid black;
  margin: auto;
  position: relative;
}

.container .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}

.container .slide img{
  width: 100%;
  height: 100%;
}

.container .slide span{
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  padding: 10px;
}

.container .slide .navigation{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container .slide .navigation label{
  font-size: 40px;
  color: white;
  padding: 20px;
  cursor: pointer;
  user-select: none;
}

#item-1:checked ~ .item-1{
  opacity: 1;
  z-index: 2;
}

#item-2:checked ~ .item-2, #item-3:checked ~ .item-3, #item-4:checked ~ .item-4{
  z-index: 3;
  opacity: 1;
}

.container > input{
  visibility: hidden;
  position: absolute;
}
